body {
    background-color: #181818;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #202020;
    padding: 10px 20px;
    text-align: center;
}

.search-container {
    display: inline-block;
}

.search-container input[type="search"] {
    padding: 5px;
    font-size: 1em;
    border-radius: 18px;
    background-color: #202020;
    border-color: black;
    border-style: solid;
    color: whitesmoke;
}

.search-button {
    background-color: #323232;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
}

nav ul {
    background-color: #202020;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav li {
    padding: 10px 20px;
    cursor: pointer;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    object-fit: contain;
}

.video {
    background-color: #333;
    padding: 10px;
    border-radius: 12px;
}

.video img {
    max-width: 100%;
    height: auto;
    min-height: 12em;
    display: table-cell;
    vertical-align: middle;
    object-fit: contain;
    border-radius: 20px;

}

.video-info {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.youtuber-pic {
    max-width: 4em;
    max-height: 4em;
    min-width: 2em;
    min-height: 2em;
    background-color: #555;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: contain;
    padding: 10px;
    text-align: center;
    color: white;
}

.text-info p {
    margin: 0;
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
    .video img {
        grid-template-columns: 1fr;
    }
}
